/*General*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    color: #046db5;
}
hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

    a:focus-visible, input:focus-visible {
      outline: 2px solid oklch(60% 0.15 210); 
    }

    a:hover, input[type="submit"]:hover{
        background-color:black;
        border-color: black;
    }

    a{
      text-decoration: none;
      border: solid;
      background-color: white;
      border-color: white;
      border-radius: 5px;
    }
/*Fuentes y texto*/
  
  .titulo {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .italicas {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }

  .titulo-centrado{
    text-align: center;
    padding: 1%;
  }

 

  .aviso-off{
    display: none;
  }

  .aviso-on{
    display: inline;
    color: red;
  }
 
  .texto-centrado{
   text-align: center;
 
  }
/*Background*/

body{
    background-color:#d3eaf2;
}
  

  /*Elementos del Login*/
  .header-login{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-login{
    text-align: center;
  }

  
  .form{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
  }
  .item-form{
    padding: 1%;
    margin: 0.5%;
  }

  .form-login input[type="submit"]{
    min-width: 200px;
    width:40% ;
  }

  .form-login input{
    border-radius: 5px;
    
  }

  .user{
    width: 50px;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
   display: flex;
    
}
nav ul li {
  display: flex;
    margin: 0 15px;  
}
nav ul li a {
    text-decoration: none;   
    font-size: 18px;
    padding:5px;
}

.form-transferir{
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.form-transferir input[type="text"]{
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
}

.form-transferir-destino{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.form-transferir-destino input[type="text"]{
  border-radius: 5px;
  height: 50px;
  padding: 10px;
}

.form-submit{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.form-submit input[type="submit"]{
  height: 50px;
  padding:5px;
}